<!DOCTYPE html>
<html>
  <head>
    <%- include('./layouts/head')%>
  </head>
  <body>
    <%- include('./layouts/header')%>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <%- include('./layouts/footer')%>
  </body>
</html>
