<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/show.css">
<title>Title</title>
</head>
<body>
<div class="container">
    <div class="col col-sm-4 div-left">
        <div class="row">
            <h2><%= result.name %></h2>
        </div>
        <div class="row">
            <p><b>Giới tính:</b> <%= result.gender %></p>
        </div>
        <div class="row">
            <p><b>Ngày sinh:</b> <%= result.date %></p>
        </div>
        <div class="row">
            <p><b>Quê quán:</b> <%= result.qq %></p>
        </div>
        <div class="row">
            <p><b>Nghề nghiệp:</b> <%= result.major %></p>
        </div>
        <div class="row">
            <p><b>Tình trạng hôn nhân:</b> <a href="<%= result.link_love %>"><%= result.love %></a></p>
        </div>
    </div>
    <div class="col col-sm-3 div-right">
        <img src="<%= result.img %>" alt="">
        <div class="social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>