<!DOCTYPE html>
<html>

<head>
  <title>users</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <div class="row">
    <div class="col">
      <div class="card" style="width:18rem;">
        <img src="<%= user.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
          Tên đầy đủ: <%= user.fullname %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted ">
         Ngày Sinh:<%= user.birtday%>
          </h6>
          <p class="card-text">
         Quê quán:<%= user.hometown%>
          </p>
          <p class="card-text">
          Tình trạng hôn nhân: <%= user.intership%>
          </p>
          <p class="card-text">
           Gioi Tính: <%= user.gender%>
          </p>
          <p class="card-text">
           Công việc hiện tại: <%= user.currentjob%>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>